body {
  background-color: white;
  color: black;
}

.p1 {
  font-size: 45px;
  font-weight: bold;
}

p {
  font-family: "Neue Haas Grotesk Text Pro", sans-serif;
  font-size: 11px;
  margin-left: 5px;
  max-width: 550px;
}

h1 {
  font-family: "Neue Haas Grotesk Text Pro", sans-serif;
  margin-top: 10vh;
}

.sectionheight {
  margin-top: 10vh;
}

.center-p {
  display: flex;
  justify-content: center;
}

header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul-navbar {
  color: black;
  display: flex;
  align-items: center;
  font-family: "Neue Haas Grotesk Text Pro", sans-serif;
  text-decoration: underline;
}

.nav-item {
  list-style: none;
  font-family: "Neue Haas Grotesk Text Pro", sans-serif;
  text-decoration: underline;
  margin-right: 2rem;
  font-size: 13px;
}

.h1 {
  font-family: "Neue Haas Grotesk Text Pro", sans-serif;
}

.container {
  background-color: #0a0a0a;
  margin-top: 5vh;
  margin-left: 1px;
  padding: 0.5rem;
  color: #d4ecdd;
  width: 360px;
  border-radius: 1rem;
  font-size: small;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 40px;
  row-gap: 3rem;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.title {
  margin-bottom: 100px;
  margin-right: 13px;
  font-size: 13px;
  text-align: right;
  padding: 5px;
  font-family: "Inter", sans-serif;
  text-align: right;
}

.character-amount-contrainer {
  display: flex;
  align-items: center;
}

.number-input {
  width: 1rem;
  background-color: #0a0a0a;
  color: white;
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

.password-display {
  border-style: solid;
  border-width: 1px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-color: aliceblue;
  padding: 1rem;
  height: 2rem;
  width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
}

.button-submit {
  grid-column: span 2;
  background: #345b63;
  border-radius: 5px;
  padding: 0.5rem;
  margin-top: 30px;
  margin-bottom: 30px;

  width: 100px;
  color: white;
  cursor: pointer;
  align-items: center;
}

.button-submit:hover {
  transform: scale(1.1);
}

.checkbox {
  margin-left: 65px;
}

.figma-casperimage {
  display: flex;
  justify-content: flex-start;
}

.figmasketchtext {
  margin-left: 50px;
  margin-top: 150px;
}

.casperimage {
  border-radius: 10px;
}

@media (max-width: 640px) {
  .ul-navbar,
  .nav-item {
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media (max-width: 640px) {
  .sectionheight {
    margin-top: 2vh;
  }
}
